@tailwind base;
@tailwind components;
@tailwind utilities;


.attachment__caption {
    border: 1px solid #c9c9c9;
    padding: 3px 10px 3px 10px;
    border-radius: 6px;
}

.attachment__name {
    font-weight: bold;
}

.attachment__size {
    font-size: 12px;
}

.btn-outline-red {
	@apply inline-flex items-center px-3 py-2 border border-red-300 text-sm leading-4 font-medium rounded-md text-red-700 bg-white transition ease-in-out duration-150
}

.btn-outline-red:hover {
	@apply text-red-500
}

.btn-outline-red:focus {
	@apply outline-none border-blue-300 ring-blue-700
}

.btn-outline-red:active {
	@apply text-red-800 bg-red-50
}

.btn-outline-gray {
	@apply inline-flex items-center px-3 py-2 border border-gray-300 text-sm leading-4 font-medium rounded-md text-gray-700 bg-white transition ease-in-out duration-150
}

.btn-outline-gray:hover {
	@apply text-gray-500
}

.btn-outline-gray:focus {
	@apply outline-none border-blue-300 ring-blue-700
}

.btn-outline-gray:active {
	@apply text-gray-800 bg-gray-50
}

.btn-outline-blue {
	@apply inline-flex items-center px-3 py-2 border border-blue-300 text-sm leading-4 font-medium rounded-md text-blue-700 bg-white transition ease-in-out duration-150
}

.btn-outline-blue:hover {
	@apply text-blue-500
}

.btn-outline-blue:focus {
	@apply outline-none border-blue-300 ring-blue-700
}

.btn-outline-blue:active {
	@apply text-blue-800 bg-blue-50
}

.btn-indigo {
	@apply inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-white bg-indigo-600 inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-white bg-indigo-600 transition ease-in-out duration-150
}

.btn-indigo:hover {
	@apply bg-indigo-500
}

.btn-indigo:focus {
	@apply outline-none border-indigo-700 ring-indigo-100
}

.btn-indigo:active {
	@apply bg-indigo-700
}



.badge {
	@apply inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium leading-4 
}

.icon {
    @apply text-gray-600
}

.form-label {
    @apply block uppercase tracking-wide text-gray-500 text-xs font-medium mb-2
}

.form-required:after {
  content: "*";
  @apply text-red-600
}

.form-input {
	@apply block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 rounded leading-tight
}

.form-select {
	@apply block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 rounded leading-tight
}

table {
	@apply table-auto w-full
}

tbody {
	@apply bg-white
}

th {
	@apply px-6 py-3 border-b border-gray-100 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider
}

td {
	@apply px-6 py-4 border-b border-gray-100 text-sm leading-5 text-gray-500
}

fieldset {
	@apply border px-4 rounded
}

legend {
	@apply px-1 py-2 uppercase text-xs text-gray-700
}


.file-container {
    overflow: hidden;
    position: relative;
}
.file-container [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.file-container {
	@apply border-2 border-gray-300 border-dashed rounded-md cursor-pointer
}

.progress-bar-step1 {
	background: #48bb78;
}

.progress-bar-step2 {
	background: -webkit-linear-gradient(left, #48bb78 60%, #fce96a 90%);
}

.progress-bar-step3 {
	background: -webkit-linear-gradient(left, #48bb78 50%, #fce96a 90%, #f05252 100%);
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  margin-top: -5px;
  margin-left: 4px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: #d6d6d6;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
  font-size: 11px;
  padding: 2px 8px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #d6d6d6 transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
